body {
    margin: 0px;
    background: rgb(38, 33, 136);
    background: linear-gradient(45deg, rgba(38, 33, 136, 1) 0%, rgba(83, 83, 180, 1) 47%, rgba(0, 140, 168, 1) 100%);
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:
}

.header,
h1 {
    text-align: center;
}

#gridContainerWrapper {
    /* just a quick ideation, needs fix */

    display: flex;
    justify-content: center;
    align-items: center;
}

#gridContainer {
    background-color: rgb(255, 255, 255);
    width: 75%;
    height: 75%;
}

.flexRow {
    display: flex;
    height: 100%;
}

.square {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}